/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color:#626262 ;
}
/*common end*/
/*header start*/
header{
/* border: 1px solid blue;*/
	padding: 15px 0;
}
.container{
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
/*	border: 1px solid black;*/
}
.logo{
	margin-top: 13px;
	width: 12%;
/*	border: 1px solid red;*/
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
/*	border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 3px 1px 3px;
	display: inline-block;
	color:#626262 ;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent ;
	transition: .5s;
}
.menu ul li:last-child a{
 margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262 ;
}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*perfect start*/
.perfect{
	padding-top: 100px;
	padding-bottom: 100px;
}
.container2{
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
/* border: 1px solid darkgrey;*/
}
.p_content{}
.c_light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e ;
	text-transform: uppercase;
}
.c_h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 25px;
}
.mb_40{
	margin-bottom: 40px;
}
/*perfect end*/

/*blog start*/
.blog{
/*	padding-top: 100px;*/
/*	padding-bottom: 100px;*/
}
.blogs{}
.single{
	padding-bottom: 130px;
	width: 47%;
	float: left;
/*	border: 1px solid black;*/
}
.single:nth-child(even){
 margin-left: 6%;
}
.s_img{
	margin-bottom: 25px;
}
.s_img img{
	width: 100%;
}
/*blog end*/
/*contact start*/
.contact{
	padding: 70px 0;
/*	min-height: 300px;*/
	background-color: #f0f0f0;
}
.signup{
	text-align: center;
}
.s_h1{
	margin-top: 0;
	margin-bottom: 70px;
	color: #333333;
}
.s_form{
	position: relative;
	width: 400px;
/*	border: 4px solid red;*/
	margin: 0 auto;
}
.s_form input{
 font-family: 'Playfair Display', serif;
 font-size: 14px;
 color: #626262;
 width: 340px;
 height: 45px;
 border: none;
 border-bottom: 1px solid #000000;
 background:transparent;
 	padding-left: 5px;
 	padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
 background: transparent;
 border: none;
 cursor: pointer;
 top: 15px;
 right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form input button img{  }

/*contact end*/

/*blog2 start*/
.blog2{
	padding-top: 100px;
/*	padding-bottom: 150px;*/
}
/*blog2 end*/

/*btn start*/
.load{
	padding-bottom: 100px;
}
.btn{
	margin: 0 auto;
	width: 15%;
}
.btn p{
 padding: 8%;
	text-align: center;
	border: 1px solid #626262;
}
/*btn end*/
/*footer start*/
.footer{
 background-color: #f0f0f0;
 color:#000000 ;
}
.footer_p{
	width: 20%;
/*	border: 1px solid red;*/
	float: left;
}
.f1{
	float: left;
}
.f2{
	float: right;
}
.footer_f{
	width: 22%;
/*	border: 1px solid;*/
	float: right;
}
.follow{
	float: left;
/*	border: 1px solid;*/

}
.f_img{
	margin-top: 15px;
	float: right;
/*	border: 1px solid;*/

}
.f_img img{
	width: 100%;
}

/*footer end*/